ap.mosphere.at {
        root * /var/www/html
        encode gzip

        log {
                output file /var/log/ap-bot-test.log {
                        roll_size 1gb
                        roll_keep 5
                        roll_keep_for 720h
                }
        }

        try_files {path} /index.php?path={path}
        php_fastcgi unix//run/php/php8.2-fpm.sock
        file_server

        import vercel
}
